.intro-text {
  font-family: 'Product Sans Bold', sans-serif;
  position: relative;
  top: 35%;
}

@media (min-width:300px) {
  .intro-text {
    font-size: 24px;
  }
}
  
@media (min-width:600px) {
  .intro-text {
    font-size: 36px;
  }
}
  
@media (min-width:1000px) {
  .intro-text {
    font-size: 48px;
  }
}
