@import '/app/app.css';
@import '/theme/default-theme/theme.css';
@import '/theme/designer/core.css';

html, body {
  height: 100%;
  margin: 0;
  /* font-family: 'Roboto', serif; */
  font-family: 'Product Sans Regular', sans-serif;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
