.experience-container {
  min-height: 100vh;
}

@media (min-width:300px) {
  .experience {
    padding: 2rem 0;
  }
}
  
@media (min-width:600px) {
  .experience {
    padding: 2rem 5rem;
  }
}
  
@media (min-width:1000px) {
  .experience {
    padding: 2rem 10rem;
  }
}

.company-logo {
  width: 7.5rem;
}

.company-name {
  padding-left: 1rem;
}

.job-title {
  float: right;
}
